body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
/**************************************************/
/* Header */
/**************************************************/
/* Logo container */
.top-container {
    background-color: white;
    padding: 30px;
    text-align: center;
    }
/**************************************************/
/* Sticky menu bar */
/**************************************************/
.header {
    padding: 0px;
    background:lightblue;
    color: #f1f1f1;
    align-content: center;
    font-size: 17px;
    }

.menuButtons{
    display: inline-table;
    width: 49%;
    height: 30px;
    padding: 5px;
    }
.menuButtons a{
    float: left;
    padding: 5px;
    }

.loginContainer{
    display: inline-table;
    width: 50%;
    height: 30px;
    padding: 5px;
    }

.loginContainer a{
    float: right;
    padding: 5px;
    }

.loginContainer a .logout{
    background-color: rgb(255, 255, 255);
    }

.header a {
    color: white;
    }

.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    }

.sticky + .content {
    padding-top: 60px;
    }
/**************************************************/
/* Body of content */
/**************************************************/
.content {
    padding: 16px;
    top: 0;
    /* background-color: rgba(206, 234, 244, 0.34) */
    }
/**************************************************/
/* Footer */
/**************************************************/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color: white;
    text-align: center;
    padding-top: 10px;
}
/**************************************************/
/* 404 stuff */
/**************************************************/


/**************************************************/
/* Login */
/**************************************************/
.loginWrapper{
    max-width: 250px; 
    margin: auto;
    text-align: center;
    background-color: lightblue;
    padding: 30px;
    border-radius: 5px;
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
    color: white;
}

.loginForm div{
    margin: 3px;
    color: lightslategray;
}

.loginForm button{
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100px;
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
    color: lightslategrey;
}

.registerRedirect a{
text-decoration: underline !important;
}

/**************************************************/
/* Register */
/**************************************************/

.registerWrapper{
    max-width: 250px; 
    margin: auto;
    text-align: center;
    background-color: lightblue;
    padding: 30px;
    border-radius: 5px;
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
    color: white;
    }
    
.registerForm div{
    margin: 3px;
    color: lightslategray;
    }
    
.registerForm button{
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100px;
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
    color: lightslategrey;
    }
    
.registerRedirect a{
    text-decoration: underline !important;
    }

/**************************************************/
/* Profile */
/**************************************************/

.profileWrapper{
    z-index: 1;
    /* text-align: center; */
    /* padding-top: 50px; */
}

.profileHeader{
    /* width: 100%; */
    height: auto;
    /* background-color: blue; */
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.profileHeader .pic{
    /* background-color: burlywood; */
    /* z-index: 0; */
    margin: auto;
}

.profileHeader .picWrapper{
    /* background-color: rgb(255, 255, 255); */
    border-radius: 50%;
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
    height: 200px;
    width: 200px;
    margin: auto;
}

.profileHeader .picWrapper img{
    border: 3px solid rgba(160, 160, 160, 0.637);
    border-radius: 50%;
}

.profileHeader .infowrapper{
    /* height: auto; */
    /* margin: auto; */
    /* background-color: chocolate; */
    /* padding: 10px; */
}

.profileHeader .infowrapper .form{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
    height: auto;
    width: auto;
    margin: auto;
    padding: 30px;
}
    
.profileForm .formInput input{
    margin: 3px;
    color: lightslategray;
    width: 200px;
    }
    
.profileForm button{
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100px;
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
    color: lightslategrey;
    }

.profileFeed{
    background-color: white;
    height: 1080px;
}

/**************************************************/
/* New Post */
/**************************************************/

.newPost{
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
}

.newPost .feed{
    
    text-align: center;
    padding-top: 10px;
}

.newPost button{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100px;
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
    color: lightslategrey;
    }

.comment input{
    text-align: center;
    padding: 5px;
    width: 340px;
    height: 200px;
}

/**************************************************/
/* Post feed home*/
/**************************************************/

#postFeedContainer {
    /* We need to limit the height and show a scrollbar */
    overflow: auto;
    Height: calc(100vh - 86px);
  
    /* Optional, only to check that it works with margin/padding */
    /* margin: 30px; */
    padding: 20px;
  }
  
  /* Optional eye candy below: */
  li {
    padding: 10px;
    list-style-type: none;
  }
  li:hover {
    background: #ccc;
  }

.postCard{
    margin: auto;
    max-width: 400px;
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.postCard button{
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100px;
    box-shadow:rgba(0,0,0,.15) 0 0 6px,rgba(0,0,0,.1) 0 0 1px;
    color: lightslategrey;
    }
/**************************************************/
/* Post page*/
/**************************************************/


.sticker{
    cursor: pointer;
}
.sticker:hover{
    box-shadow:         1px 1px 1px 1px rgba(124, 124, 124, 0.67);
}